@model iXOnlineWeb.Data.DataAccess.Members

<div class="row">
    <a href="@Url.Action("Index","Members")" class="btn btn-outline-primary">
        <i class="fa-arrow-alt-circle-left"></i><span>Back</span>
    </a>
    &nbsp;&nbsp;&nbsp;
    <a href="@Url.Action("Edit","Members",new { id = Model.MemberId})" class="btn btn-outline-primary">
        <i class="fa-arrow-alt-circle-left"></i><span>Update</span>
    </a>
</div>
<br/>
<br/>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                Member Image:
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img src="~/Content/Images/images (1).png" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                Member Details:
            </div>
            <div class="card-body">
                <div class="text-center">
                    @Html.Partial("_Details", null);
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    Book Image:
                </div>
                <div class="card-body">
                    <div class="text-center">
                        @Html.Partial("_MemberDetails", null);
                    </div>
                </div>
            </div>
        </div>*@
</div>
